
@import './base/base.css';
@import './base/utility.css';
@import './base/reset.css';
@import './fonts/fonts.css';
@import './colors/colors.css';

body {
    height: 100vh;
    padding: 10px;
    overflow: scroll;
}

#app {
    width: min(100%, 450px);
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

:root {
    --line-height: 40px;
    --header-height: 80px;
}
.headerHeight {
height: var(--header-height);
}
.lineHeight {
    height: var(--line-height);
}